.content{
	width:1280px;
	margin:100px auto;
	height:600px;
	position:relative;
}
.one{
	background-image:url('../../img/index/1.png');
	
}
.two{
	background-image:url('../../img/index/2.png');
	display:none;
}
.three{
	background-image:url('../../img/index/3.png');
	display:none;
}
.topspan{
	font-size:40px;
	font-weight:bolder;
	cursor:pointer;
}
span{
	cursor:default;
}
.find1{
	width:500px;
	height:250px;
	position:absolute;
	left:460px;
	top:250px;
}
.form-control{
	display:inline;
	width:55%;
	margin-top:40px;
}
.yzm{
	width:34%;
}
a{
	color:black;
}
a:hover{
	text-decoration:none;
	color:black;
}
.btn{
	margin-top:-4px;
}
.font_text{
   display:inline-block;
   width:20%;
   text-align:right;
   padding:0px 5px;
   font-size:18px;
}
.next{
	position:absolute;
	bottom:10px;
	width: 91px;
	left:180px;
	font-size:18px;
}

.remind{
	text-align:right;
	margin:10px 0px;
	color:green;
}
















