.bx{box-sizing:border-box;}
.fo{float: overflow;}.cp{cursor:pointer;}
.w840{width: 840px;}
.h400{height: 400px;}
.mt20{margin-top: 20px;}
.b1{border:1px solid #dfdfdf;}
.w850{width: 850px;}
.fs25{font-size: 25px;}
.cb{color: black;}
.tc{text-align: center;}
.mauto{margin: auto;}
.w800{width: 800px;}
.m20{margin: 20px;}
.fs20{font-size: 20px;}
.h250{height: 430px;}
.w540{width: 540px;}
.h50{height: 50px;}
.icon{width: 50px;height: 50px;background: url(../../img/icon/icon.gif) no-repeat -15px -75px ;}
.idname{width:50px;height:50px;background:url(../../img/icon/iconid2.png) no-repeat;}
.idname1{width:50px;height:50px;background:url(../../img/icon/iconid2.png) no-repeat;}
.idpay{width:50px;height:50px;background:url(../../img/icon/iconpaypass2.png) no-repeat;}
.idaddress{width:50px;height:50px;background: url(../../img/icon/iconaddress2.gif)no-repeat}
.idaddress1{width:50px;height:50px;background: url(../../img/icon/iconaddress2.gif)no-repeat}
.idpay1{width:50px;height:50px;background:url(../../img/icon/iconpaypass2.png) no-repeat;}
.ib{display: inline-block;}
.fl{float: left;}
.pl30{padding-left:30px;}
.b{display: block;}
.fs13{font-size: 13px;}
.m10{margin: 10px;}
.ml10{margin-left: 10px;}
.mb0{margin-bottom: 0px;}
.m5{margin: 5px;}
.mt20{margin-top: 20px;}
.h70{height: 70px;}
.w{width:100%;}
.lh{line-height: 50px;}
.p15{padding: 15px;}
.h150{height: 360px;}
.w350{width: 350px;}
.h70{height: 70px;}
.w80{width: 100px;}
.h30{height: 30px;}
.c-white{color: white;}
.bg-lightgreen{background: #75cb8c;}
.bg-deepgreen{background: #27a949;}
.fs22{font-size: 16px;}
.pr{position: relative;}
.pa{position: absolute;}
.r20{right: 20px;}
.t20{top: 20px;}
.t10{top:10px;}
.lh30{line-height: 30px;}
.ip{background: url(../../img/icon/icon.gif) no-repeat -80px -75px ; }
.b-green{border: 1px solid #59a66d;
border-radius: 2px;}
.w180{width: 180px;}
.mr20{margin-right: 20px;}
.lh50{line-height: 50px;}
.w100p{width: 100px;}
.h40{height: 40px;}
.bg-lv{background: #27a949;}
.lh40{line-height: 40px;}
.bg-4bcea9{background: #4bcea9}
.w33{width: 33px;}
.h33{height: 33px;}
.h35{height: 35px;}
.pl40{padding-left: 40px;}
.s-i{width: 33px;height: 33px;background: url(../../img/icon/icon.gif) no-repeat -4px -130px ;}
.ip-ming{background: url(../../img/icon/icon.gif) no-repeat -4px -130px ;}
.t1{top: 1px;}
.r146{right: 146px;}
.l1{left: 1px;}
.bg-f89897{background: #f89897;}
.ip-sex{background: url(../../img/icon/icon.gif) no-repeat -36px -130px ;} 
.va{vertical-align: middle;}
.ip-love{background: url(../../img/icon/icon.gif) no-repeat -135px -130px ;}
.bg-d472a0{background: #d472a0}
.ip-date{background: url(../../img/icon/icon.gif) no-repeat -64px -130px ;}
.ip-address{background: url(../../img/icon/icon.gif) no-repeat -99px -130px ;}
.ip-job{background: url(../../img/icon/icon.gif) no-repeat -167px -130px ;}
.ip-write{background: url(../../img/img_icon/write.png) no-repeat }
.mr160{margin-right: 160px;}
.bg-33baec{background: #33baec;}
.w145{width: 145px;}
.t35{top: 35px;}
.l35{left: 35px;}
.z{z-index: 1001}
.bg-white{background: white;}
.get_sex:hover{background:#f89897;color: white;}
.get_love:hover{background:#f89897;color: white;}
.get_job:hover{background:#33baec;color: white;}
.bb1{border-bottom: 1px solid black;}
.h20{height: 20px;}
.pl20{padding-left: 20px;}
.dn{display: none}
.lh35{line-height: 35px;}
.fr{float: right;}
.mb25{margin-bottom: 25px;}
.ip-xiala{background:url(../../img/icon/icon.gif) no-repeat -4px -165px;}
.pl5{padding-left: 5px;}
.r100{right: 100px;}
.w280{width: 280px;}
.fs16{font-size: 16px;}
.t80{top:80px;}
.l40{left:40px;}
.c-red{color:red;}
.r100{right:100px;}
.h280{height:280px;}
.t_alert{top:calc(50% - 140px);}