#pay_password_model{
	background:#282828 ;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
}
.pay_password_area{
	background:#FFFFFF;
	width: 600px;
	height: 370px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top:-210px ;
	margin-left: -300px;
	
}

.pay_password_area_top{
	background: #ff5400;
	padding: 20px 30px;
}
.pay_password_area_top p{
	display: inline-block;
	
	font-size: 20px;
	color: #FFFFFF;
	font-weight:bold;
}
.pay_password_area_top img{
	float: right;	
	cursor: pointer;
}
.pay_password_area_middle{
	padding: 30px;
	font-size: 16px;
	font-weight: 9999;
}
.pay_password_area textarea{
	border: 1px solid #ffa700;
	margin:0 30px;
}
.pay_password_area_bottom{
	margin-top:30px ;
	padding-left:30px ;
	padding-right: 30px;
	overflow: hidden;
}
.pay_password_area_bottom a{
	padding: 10px 30px;
	font-size: 20px;
	border: 1px solid #ffa700;
	float: right;
	margin-left: 24px;
	color: #ff5400;
}
.pay_password_area_bottom a.active{
	background: #ffa700;
	color: #fff;
}
.pay_password{
	margin: 80px 40px;
	font-size: 20px;
}
.pay_password input{
	height: 30px;
}
